name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  build-action:
    name: Build Action
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4.2.2

      - name: Setup Node.js
        uses: actions/setup-node@v4.1.0
        with:
          node-version-file: .nvmrc

      - name: Setup Yarn
        uses: threeal/setup-yarn-action@v2.0.0

      - name: Check Formatting
        run: |
          yarn format
          git diff && git diff-index --quiet --exit-code HEAD

      - name: Check Lint
        run: yarn lint

      - name: Test Action
        run: yarn test

      - name: Build Action
        run: |
          yarn build
          git diff && git diff-index --quiet --exit-code HEAD
